.ls-bot-prefix {
  font-size: 12pt;
  white-space: pre;
}

.ls-iframe {
  width: 100%;
  height: 60vh;
}

.ls-bot-profile.card.profile {
  background: transparent;
  box-shadow: none;
  margin-top: 2.5em;
  width: 100%;
  color: #fff;

  .avatar, .link { background: transparent; }

  .avatar {
    padding: 0;
    img { width: 10em; }
  }

  .name {
    font-size: 3em;
    margin: 0;
    padding: 0;

    .nsfw-tag {
      font-size: 16px;
      line-height: 50px;
      margin-left: 0;
    }
  }

  .description {
    color: #eee;
    font-size: 1.5em;
  }
}

.ls-custom-content {
  max-height: 30vh;
  padding: 5px;
  background-color: #222;
  overflow-y: hidden;
  overflow-x: hidden;
}

.ls-custom-content {
  text-align: center;
  width: 100%;
  box-sizing: content-box;
  background-color: #222;
  p {
    margin-bottom: 0;
  }
  img {
    width: 30px;
    height: 30px;
  }
}

.ls-custom-content-less {
  img {
    transform: rotate(180deg);
  }
}
