@import '../../node_modules/materialize-css/sass/materialize.scss';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

.ls-navbar {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
}

.ls-parallax-content {
  margin-top: 100px;
}
