@media screen {
  @import '../www-root/ModestaCSS/scss/modesta.scss';
  @import '../www-root/ModestaCSS/scss/twemoji.scss';
  @import '../../node_modules/tiny-slider/src/tiny-slider.scss';

  .ls-print {
    display: none;
  }

  .main-window {
    height: 100vh;
  }

  pre {
    overflow-x: auto;
  }

  .hidden {
    display: none;
  }

  .ls-main-content {
    background-color: #222;
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .ls-wrap {
    flex-wrap: wrap;
  }

  .ls-center {
    text-align: center;
  }

  .modal {
    z-index: 200;
    padding-bottom: 100px;
    box-sizing: border-box;
    img {
      max-width: 100%;
    }
  }

  .ls-left-pad *:not(:first-child) {
    margin-left: 10px;
  }

  .ls-round {
    border-radius: 6px;
  }

  .ls-center {
    text-align: center;
  }

  .ls-kiosk-layout {
    .ls-nav-container, .ls-footer, .card-content {
      pointer-events: none;
    }
  }
}

@media print {
  html, body {
    font-family: 'Montserrat', sans-serif;
  }

  .ls-screen {
    display: none;
  }

  html, body {
    color: #000;
  }
}

.ls-flex-row {
  display: flex;
  &.wrap {
    flex-wrap: wrap;
  }
}

@import 'intro.scss';
@import 'footer.scss';
@import 'error.scss';
@import 'list.scss';
@import 'edit.scss';
@import 'bot.scss';
@import 'nav.scss';
@import 'buttons.scss';
@import 'locales.scss';
