.fullscreen.half.intro {
  height: 30vh;
  .center-object {
    display: flex;
    flex-direction: column;
    transform: none;
    top: calc(4em + 4px);
    left: 0;
    width: 100%;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
  }
  .ls-intro-background {
    .ls-bots-layout & {
      background-image: url('/img/background_bots.jpg');
    }
  }
  .background, .center-object {
    height: 30vh;
  }
  .background {
    background-position: 0 -35vh;
    background-repeat: no-repeat;
    background-color: #2a2a2a;
  }
}

.ls-not-a-button {
  background-color: unset;
  border: unset;
  font-size: unset;
  font-family: unset;
  padding: unset;
  margin: unset;
  box-shadow: unset;
  color: #2eaedb;
  text-decoration: none;
  cursor: pointer;
}

.ls-nocursor {
  cursor: unset;
}
