@media screen {
  .background {
    z-index: -100;
    height: 50vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #2a2a2a;
    filter: blur(5px) brightness(50%);
    position: absolute;
    top: 48px;
    left: 0;
    .ls-bots-layout & {
      background-image: url('/img/background_bots.jpg');
    }
  }
  
  .ls-search-container {
    padding-top: 3em;
  }
  
  .ls-nocursor {
    cursor: unset;
  }
  
  .ls-noscript {
    display: none !important;
  }  
}

@media print {
  .ls-search-container {
    display: none;
  }
}
