@media screen {
  .ls-list-nsfw {
    background: #7d2c23;
    border-radius: 3px;
    color: #fff;
    flex-shrink: 0;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 38px;
    margin-left: 6px;
    padding: 2px 3px;
    text-transform: uppercase;
    vertical-align: bottom;
  }

  .card-container .card {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    width: 250px;
    height: 280px;
    .card-content {
      flex-grow: 1;
      font-family: "Montserrat", "Noto Sans", "Calibri", Arial, Helvetica, sans-serif;
    }
    .description {
      font-size: 16px;
    }
  }

  .ls-search {
    &[placeholder] {
      text-align: center;
    }

    transition: all 0.25s;
    width: 15em;
    &:focus {
      width: 50vw;
    }
  }

  .ls-carousel-item {
    width: 100%;
    height: 25em;
    background-size: cover;
    background-position: center;
    .ls-carousel-item-content {
      text-align: left;
      padding: 3em;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      background-image: linear-gradient(to right, 
      rgba(0, 0, 0, 0.8), 
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.4));
      height: 100%;
      box-sizing: border-box;
      h4, p {
        margin: 0;
      }
      .ls-carousel-item-content-avatar {
        width: 8em;
        height: 8em;
      }
    }
  }
  
  .ls-homepage-category {
    font-size: 11pt;
    padding: 7px;
    height: unset;
    line-height: 11pt;
  }

  // Image slider dots
  .tns-nav-active {
    background: #999;
  }
}

@media print {
  #ls-carousel {
    transform: unset !important;
  }
  .ls-carousel-item {
    background-size: cover;
    .ls-carousel-item-content {
      padding: 1em;
      background-image: linear-gradient(to right, 
      rgba(0, 0, 0, 0.8), 
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.4));
      h4, p {
        margin: 0;
        color: #fff;
      }
      h4 {
        font-size: 16pt;
      }
    }
    .ls-carousel-item-content-avatar {
      height: 8em;
      width: 8em;
    }
  }
  .tns-nav, .tns-controls {
    display: none;
  }
  .card {
    .avatar img {
      height: 8em;
      width: 8em;
    }
  }
}
