@media screen {
  .ls-button {
    height: 38px;
    border-radius: 4px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    .fullscreen & {
      box-shadow: unset;
    }
  }

  button.btn {
    box-shadow: unset;
  }

  // This turns a button into a link
  .ls-not-a-button {
    background-color: unset;
    border: unset;
    font-size: unset;
    font-family: unset;
    padding: unset;
    margin: unset;
    box-shadow: unset;
    color: #2eaedb;
    text-decoration: none;
    cursor: pointer;
  }
}