@media screen {
  .ls-locale-flags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    a {
      display: block;
      margin: 0.2em;
      font-size: 72pt;
      i {
        display: block;
        margin: 0;
        padding: 0;
      }
    }
  }
}
