@media (min-width: 650px) {
  .ls-nav-container {
    display: block;
    background: transparent;
    border-bottom: 0px;
    height: auto;
    margin: 0 auto;
    max-width: 1100px;
    #menu-icon {
      display: none;
    }
    #ls-navside {
      display: none;
    }
    .nav-title {
      float: left;
      font-size: 20px;
      margin-left: .4em;
      padding: .5em 0;
      text-align: left;
    }
    .sidenav {
      transform: none;
      -webkit-transform: none;
      -ms-transform: none;
      -moz-transform: none;
      -o-transform: none;
      background-color: transparent;
      height: auto;
      margin-right: .4em;
      position: relative;
      text-align: right;
      width: auto;
      a {
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -ms-transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        color: #818181;
        display: inline-block;
        font-size: 20px;
        margin: 0 .3em;
        padding: .4em 0;
        text-decoration: none;
      }
    }
  }
}
