.ls-mobile {
  @media (min-width: 651px) {
    display: none !important;
  }
}

.ls-desktop {
  @media (max-width: 650px) {
    display: none !important;
  }
}

.ls-no-filter {
  filter: unset !important;
}

html, body {
  color: black;
  color: unset !important;
}

body {
  background: transparent !important;
  background: unset !important;
}
