.box {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  box-sizing: border-box;
  width: 100vw;
  max-width: 100%;
  z-index: 2;
  overflow: hidden;
}

.container {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.titleContainer {
  align-self: center;
  h3 {
    white-space: nowrap;
  }
}

.avatar {
  height: 7em;
  max-width: 7em;
  object-fit: cover;
  margin-right: 1em;
}

.prefix {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background-color: #555;
  font-family: 'Courier New', Courier, monospace
}

.links a, .links span {
  margin-right: 5px;
}
