{
  "presets": ["@babel/env", "@babel/react"],
  "env": {
    "node": {
      "plugins": [
        "react-hot-loader/babel",
        [
          "babel-plugin-transform-require-ignore",
          {
            "extensions": [".scss"]
          }
        ]
      ]
    }
  }
}
