{
  "presets": [
    [
      "@babel/env",
      {
        "useBuiltIns": "entry"
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    [
      "react-css-modules",
      {
        "removeImport": true,
        "webpackHotModuleReloading": true,
        "generateScopedName": "[hash:base64]",
        "context": "./src",
        "filetypes": {
          ".scss": {
            "syntax": "postcss-scss"
          }
        }
      }
    ]
  ],
  "env": {
    "node": {
      "plugins": [
        "react-hot-loader/babel",
        // [
        //   "babel-plugin-transform-require-ignore",
        //   {
        //     "extensions": [".scss"]
        //   }
        // ],
        [
          "babel-plugin-import-static-files",
          {
            "baseDir": "/",
            "outDir": "./frontend/build/"
          }
        ]
      ]
    }
  }
}
