node_modules/
rethinkdb_data/
website/config/*.json
proxy/config/*.json
bot/config/*.json
website/www-root/appdata/*
website/www-root/css/*

frontend/views/
frontend/build/
frontend/config.json

.cache
public/
