extends layout.pug

block jumbotron
	.jumbotron
		.container
			p.lead.code Add bot

block content
	.row
		#error.col-12
	.row
		.col-12
			form(method="post")
				.form-group
					label(for="name") Name
					input#name.form-control(type="text" name="name" maxlength="32" placeholder="Insert name for your bot")
				.form-group
					label(for="avatar") Avatar URL
					input#avatar.form-control(type="text" name="avatar" maxlength="2000" placeholder="Try not to use a link to Discord if you always change your picture.")
				.form-group
					label(for="invite") Invite URL
					input#invite.form-control(type="text" name="invite" maxlength="2000" placeholder="An invite link for your bot. Can be any link, as long as it automatically redirects to Discord.")
					p: a(href="https://discordapi.com/permissions.html" target="_blank") Invite Generator
				.form-group
					label(for="id") ID
					input#id.form-control(type="text" name="id" maxlength="70" placeholder="Insert the ID for your bot")
				.form-group
					label(for="shortDesc") Short Description
					input#shortDesc.form-control(type="text" name="shortDesc" maxlength="200" placeholder="Insert a short and consice description")
				.form-group
					small.form-text.text-muted Please insert how to trigger the bot in the long description. Your bot cannot be tested for quality and assurance without this.
					label(for="type") Long Description Type
					select#type.form-control(name="type" placeholder="Select type here" onchange!="description();")
						option(disabled selected) Please select a value
						option(value="iframe") &lt;iframe&gt;
						option(value="markdown") Markdown (no HTML)
				#description.form-group
				button.btn.btn-primary(type="submit" onclick="return check();") Submit
				input.hide(type="text" name="csrf" value=csrf)

block script
	script(src="/js/add.js")
