extends layout.pug

block jumbotron
	.jumbotron
		.container
			p.lead.code Are you sure?

block content
	.row
		.col-12
			.form.buddon
				button.btn.btn-success(type="submit") Yes
				input.hide(type="text" name="csrf" value=`${csrf}`)
			a.btn.btn-danger(href="/") No
