extends templates/site.pug

block title
	title #{__('website')}

block jumbotron
	.jumbotron
		.container
			p.lead.code #{__('index_jumbotron')}

block content
	.container
		.row
			.col-12
				a(href="/list/all") #{__('index_all')}
