extends templates/site.pug

block title
	title #{__('website')}

block jumbotron
	.jumbotron
		.container
			p.lead.code According to PassTheMayo, this should be less toxic. Don't see why, since any toxic person can host their own clone of this site.

block content
	.container
		.row
			.col-12
				a(href="/list/all") All Bots
