extends layout.pug

block title
	title Languages / #{__('lang_title')} - #{__('ls.terminal.ink')}

block jumbotron
	.jumbotron
		.container
			p.lead.code Languages / #{__('lang_languages')}

block content
	.row
		.col-12
			a(href="/lang/en-gb"): img.langicon(src="/flag-icon-css/flags/4x3/gb.svg")
			a(href="/lang/en-us"): img.langicon(src="/flag-icon-css/flags/4x3/us.svg")
			// a(href="/lang/fr"): img.langicon(src="/flag-icon-css/flags/4x3/fr.svg")
