extends templates/site.pug

block title
	title Languages / #{__('lang_title')} - #{__('website')}

block jumbotron
	.jumbotron
		.container
			p.lead.code Languages / #{__('lang_languages')}

block content
	.container
		.row
			.col-12
				a(href="/lang/en-gb") English (United Kingdom)
