extends layout.pug

block title
	title #{__('md_title')} - #{__('website')}

block jumbotron
	.jumbotron
		.container
			p.lead.code #{__('md_jumbotron')}

block content
	.row
		.col-12
			!= markdown
