.starsContainer {
  font-size: 32pt;
  direction: rtl;
  max-width: min-content;
  input {
    display: none;
  }
  input:checked ~ label {
    color: #ffff00;
  }
  label {
    color: #888888;
    cursor: pointer;
  }
}
