.description {
  overflow: hidden;
  transition: height 0.5s;
}

.tableContainer {
  overflow-x: auto;
  table {
    margin-bottom: 0px;
    @media screen and (max-width: 600px) {
      border: 1px solid #303030;

      thead {
        display: table-header-group;
      }

      tr {
        display: table-row;
        border-color: inherit;
      }

      td {
        font-weight: inherit;
        border-bottom: unset;
        display: table-cell;
      }
    }
  }
}

.button {
  text-align: center;
  user-select: none;
  padding: 3px;
  margin-top: 10px;
  p {
    margin: 0;
  }
}

.arrow {
  height: 2em;
  transition: transform 0.3s;
  &.upsidedown {
    transform: rotate(180deg);
  }
}
