.description {
  overflow: hidden;
  transition: height 0.5s;

  code {
    background: #303030;
    border-radius: 3px;
    padding: .2em .4em;
    color: #d0d0d0;
  }

  pre {
    background: #303030;
    padding: 1em;
    code {
      padding: 0;
    }
  }

  img {
    max-width: 100%;
  }
}

.tableContainer {
  overflow-x: auto;
  table {
    margin-bottom: 0.5em;
  }
}

.button {
  text-align: center;
  user-select: none;
  padding: 3px;
  margin-top: 10px;
  p {
    margin: 0;
  }
}

.arrow {
  height: 2em;
  transition: transform 0.3s;
  &.upsidedown {
    transform: rotate(180deg);
  }
}
