<section class="fullscreen half intro">
	<div class="background ls-intro-background" {{#if cover}}style="background-image: url({{cover}});"{{/if}}></div>
	<div class="center-object">
		<div>
			<form action="/bots/search">
				<input name="q" class="ls-search" placeholder="{{ or query (i18n __ "intro.search") }}" required>
				<button class="ls-button">Search</button>
			</form>
		</div>
		<noscript class="center">
			{{i18n __ "errors.website.noscript"}}
		</noscript>
	</div>
</section>
