<label for="{{ name }}">Prefix</label>
<div class="ls-flex-column">
  <div class="ls-flex-row">
    <input name="{{ name }}" type="text" class="full-width">
    <button type="button" onclick="newrow(this)" class="ls-button">Add another</button>
  </div>
</div>
