<div id="ls-navbar" class="ls-nav-container nav-container">
  <span id="menu-icon" class="ls-script">
  </span>
  <h3 class="nav-title">
    <a href="{{languagePrefix}}/">
      {{i18n __ "site.name"}}
    </a>
  </h3>
  <div id="ls-navside" class="sidenav" style="transform: translateX(-250px);">
    {{> modesta-links}}
  </div>
  <div class="sidenav">
    {{> modesta-links}}
  </div>
</div>
