<div id="ls-navbar" class="nav-container default">
  <span id="menu-icon">
  </span>
  <h3 class="nav-title">
    <a href="/">
      {{i18n __ "pages.bots.pagename"}}
    </a>
  </h3>
  <div id="ls-navside" class="sidenav" style="transform: translateX(-250px);">
    {{>links}}
  </div>
</div>
