<div class="nav-container">
  <span id="menu-icon">
  </span>
  <div class="nav-content">
    <h4 class="center">
      <a href="/">
        {{{i18n "pages.bots.pagename"}}}
      </a>
    </h4>
  </div>
  <div id="navside" class="sidenav" style="transform: translateX(-250px);">
    <a href="/">
      <span>Discord Fork List</span>
    </a>
    <a href="/bots/">
      <span>Bots</span>
    </a>
    <a href="/servers/">
      <span>Servers</span>
    </a>
    <a href="{{links.docs}}">
      <span>Documentation</span>
    </a>
  </div>
</div>
