<nav class="ls-navbar row">
  <div class="nav-wrapper col s12">
    <a href="#!" class="brand-logo">{{i18n __ "site.name"}}</a>
    <a href="#" data-target="ls-navbar" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      {{> navigation-links }}
    </ul>
  </div>
</nav>

<ul class="sidenav" id="ls-navbar">
  {{> navigation-links }}
</ul>
