<div class="nav-container">
  <span id="menu-icon">
  </span>
  <div class="nav-content">
    <h4 class="center">
      <a href="/">
        {{i18n __ "pages.bots.pagename"}}
      </a>
    </h4>
  </div>
  <div id="navside" class="sidenav" style="transform: translateX(-250px);">
    {{>links}}
  </div>
</div>
