<div class="parallax-container">
  <div class="ls-parallax-content section no-pad-bot">
    <div class="container">
      {{> search }}
    </div>
  </div>
  <div class="parallax">
    {{#if cover}}
      <img src="{{cover}}">
    {{else}}
      <img src="/img/background_bots.jpg">
    {{/if}}
  </div>
</div>
