.ls-navbar-darken {
  position: absolute;
  background-color: black;
  transition: opacity 0.3s ease-in-out;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  opacity: 0;
  z-index: 99;
}

.ls-nav-desktop, .ls-nav-mobile {
  color: #fff;
}

.ls-nav-desktop {
  background-color: #282828 !important;
  max-width: unset !important;
}
