<html>
	<head>
		<meta charset='utf-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
		<meta name='theme-color' content='#FFFFFF'>
		<meta name="description" content="The Terminal directory listings with the best of Discord bots by the certified Terminal community.">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Terminal.ink">
		<meta property="og:description" content="The Terminal directory listings with the best of Discord bots by the certified Terminal community.">
		<meta property="og:image" content="https://terminal.ink/assets/images/avatar.png">
		<meta name="twitter:card" content="summary">
		<meta name="twitter:title" content="Terminal.ink">
		<meta name="twitter:description" content="The Terminal directory listings with the best of Discord bots by the certified Terminal community.">
		<meta name="author" content="7coil">
		<link rel="publisher" href="https://moustacheminer.com">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet">
		<link href="/css/terminal.css" rel="stylesheet">
		<link href="img/favicon.png" rel="shortcut-icon">
		<link href="img/favicon.png" rel="icon">
		<title>ls</title>
	</head>
	<body>
		<pre><span id="typing"></span></pre>
		<script src="https://cdn.rawgit.com/mattboldt/typed.js/master/lib/typed.min.js"></script>
		<script>
			const typing = new Typed('#typing', {
	strings: [
		`Welcome to the Terminal Bot List API server.
Please submit every request with <b>Authorization</b> header.

<b>GET /api/bots</b> Get info on every bot
<b>GET /api/bots/:id</b> Get info for a specific bot

{
	"userid": "5318008",
	"iframe": "https://ls.terminal.ink/",
	"guilds": 530,
	"owners": [
		"25565",
		"3400"
	]
}

<b>POST /api/bots/:id</b> Update info for a specific bot.

{
	"server_count": 50,
	"shard_id": 0,
	"shard_count": 2
}

<b>GET /api/users/:id</b> Get info for a specific dev.

{
	"userid": "25565",
	"iframe": "https://ls.terminal.ink/",
	"bots": [
		"5318008"
	]
}

Your token is: <i>{{ eh }}</i>

terminal@terminal.ink:~/api/$`
	],
	typeSpeed: 0,
	backSpeed: 0,
	cursorChar: '_',
	fadeOut: true,
	loop: false
});
		</script>
	</body>
</html>
