<html>
	<head>
		<meta charset='utf-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
		<meta name='theme-color' content='#FFFFFF'>
		<meta name="description" content="The Terminal directory listings with the best of Discord bots by the certified Terminal community.">
		<meta property="og:type" content="website">
		<meta property="og:title" content="Terminal.ink">
		<meta property="og:description" content="The Terminal directory listings with the best of Discord bots by the certified Terminal community.">
		<meta property="og:image" content="https://terminal.ink/assets/images/avatar.png">
		<meta name="twitter:card" content="summary">
		<meta name="twitter:title" content="Terminal.ink">
		<meta name="twitter:description" content="The Terminal directory listings with the best of Discord bots by the certified Terminal community.">
		<meta name="author" content="7coil">
		<link rel="publisher" href="https://moustacheminer.com">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet">
		<link href="css/ls.css" rel="stylesheet">
		<link href="img/favicon.png" rel="shortcut-icon">
		<link href="img/favicon.png" rel="icon">
		<title>ls</title>
	</head>
	<body>
		<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
			<button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="/">terminal@terminal.ink:~/$ ls</a>
			<div class="navbar-collapse collapse" id="navbar">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/api">API Documentation</a>
					</li>
					{{ #user }}
					<li class="nav-item">
						<span class="nav-link">{{ username }}</span>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/add">Add</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/auth/logout">Log out</a>
					</li>
					{{ /user }}
					{{ ^user }}
					<li class="nav-item dropdown">
						<a class="nav-link" href="/auth">Log in</a>
					</li>
					{{ /user }}
				</ul>
			</div>
		</nav>
		<main>
			<div class="jumbotron">
				<div class="container">
					<p class="lead code"><span id="typing"></span></p>
				</div>
			</div>
			<div class="container">
				<div class="row">
					{{ #bots }}
					<div class="col-12 col-lg-6">
						<div class="media" onclick="modal('{{ id }}')">
							<img class="d-flex mr-3 icon" src="{{ avatar }}" alt="Generic placeholder image">
							<div class="media-body">
								<h5 class="mt-0">{{ #name }}{{ name }}{{ /name }}{{ ^name }}{{ id }}{{ /name }}</h5>
								{{ shortDesc }}
							</div>
						</div>
						{{ ^approved }}
						<form method="POST" style="float: left; margin-right: 5px;">
							<button type="submit" class="btn btn-success">Approve</button>
							<input type="text" name="id" value="{{ id }}" style="display: none;">
							<input type="text" name="csrf" value="{{ csrf }}" style="display: none;">
							<input type="text" name="approve" value="true" style="display: none;">
						</form>
						<form method="POST">
							<button type="submit" class="btn btn-danger">Reject</button>
							<input type="text" name="id" value="{{ id }}" style="display: none;">
							<input type="text" name="csrf" value="{{ csrf }}" style="display: none;">
							<input type="text" name="approve" value="false" style="display: none;">
						</form>
						{{ /approved }}
					</div>
					{{ /bots }}
				</div>
				{{ ^bots }}
				<h1>No bots</h1>
				<p>Thank &#123;&#123; deity &#125;&#125; for that.</p>
				{{ /bots }}
			</div>
		</main>
		<footer>
			<div class="container">
				<hr>
				<p>Copyright 2017 - ls.terminal.ink</p>
			</div>
		</footer>

		<div class="modal fade" id="modal" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content" id="modalContent">
				</div>
			</div>
		</div>

		<script>
			const bots = {{{ json }}};
			console.log(bots);
		</script>
		<script src="https://cdn.rawgit.com/mattboldt/typed.js/master/lib/typed.min.js"></script>
		<script src="/js/index-type.js"></script>
		<script src="/js/list.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
	</body>
</html>
