.appLinks {
  padding: 0;
  margin: 0;
  list-style: none;
}

.prefixList {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    margin: 0 0 5px 0;
    padding: 2px 2px 2px 7px;
    border-radius: 4px;
  }
  .prefix {
    font-family: 'Courier New', Courier, monospace;
    background-color: #333;
  }
  .triggerNote {
    background-color: #444;
  }
}

.btn {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1em;
  padding: 0;
  width: 100%;

  background-color: rgba(0, 151, 50, 0.4);
}

.localeLinks {
  li {
    margin-bottom: 5px;
  }
  .used {
    color: #777;
  }
}
