$colours: (
  "red": #ff5555,
  "green": #20c220,
  "blue": #5555ff,
  "orange": #ffa500,
  "magenta": #ff00ff,
  "shadow": rgba(0, 0, 0, 0.2),
  "white": #ffffff
);

@function getColour($colour) {
  @return map-get($colours, $colour);
}

@each $key, $value in $colours {
  .#{$key}-darken {
    background-color: darken($value, 15%) !important;
  }
  .#{$key}-lighten {
    background-color: lighten($value, 15%) !important;
  }
  .#{$key} {
    background-color: $value !important;
  }
}
