.red-darken {
  background-color: #ff0909 !important; }

.red-lighten {
  background-color: #ffa2a2 !important; }

.red {
  background-color: #ff5555 !important; }

.green-darken {
  background-color: #158015 !important; }

.green-lighten {
  background-color: #4de24d !important; }

.green {
  background-color: #20c220 !important; }

.blue-darken {
  background-color: #0909ff !important; }

.blue-lighten {
  background-color: #a2a2ff !important; }

.blue {
  background-color: #5555ff !important; }

.orange-darken {
  background-color: #b37400 !important; }

.orange-lighten {
  background-color: #ffc04d !important; }

.orange {
  background-color: #ffa500 !important; }

.magenta-darken {
  background-color: #b300b3 !important; }

.magenta-lighten {
  background-color: #ff4dff !important; }

.magenta {
  background-color: #ff00ff !important; }

.shadow-darken {
  background-color: rgba(0, 0, 0, 0.2) !important; }

.shadow-lighten {
  background-color: rgba(38, 38, 38, 0.2) !important; }

.shadow {
  background-color: rgba(0, 0, 0, 0.2) !important; }

.white-darken {
  background-color: #d9d9d9 !important; }

.white-lighten {
  background-color: white !important; }

.white {
  background-color: #ffffff !important; }

header {
  display: flex;
  align-items: center;
  height: 3em;
  background-color: #dddddd;
  box-shadow: 0.1em 0.2em 0.1em rgba(0, 0, 0, 0.2); }
  header .item * {
    display: block;
    max-height: 3em;
    padding: 0px;
    margin: 0px; }
  header .right {
    margin-left: auto;
    padding-right: 1em; }
  header .pad-left {
    padding-left: 1em; }

.jumbotron {
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em; }
  .jumbotron input {
    width: 100%;
    font-size: 16pt; }
  @media screen and (max-width: 800px) {
    .jumbotron {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0.5em;
      width: 80%; } }

.botcard {
  display: inline-block;
  padding: 1em;
  width: 30em;
  border: 0.5px solid #cccccc;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  box-shadow: 0.1em 0.2em 0.1em rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden; }
  @media screen and (max-width: 1300px) {
    .botcard {
      width: 42%; } }
  @media screen and (max-width: 900px) {
    .botcard {
      width: 90%; } }
  .botcard h1 {
    text-decoration: none;
    margin: 0.3em 0; }
  .botcard img {
    width: 7em;
    margin-left: 0.3em; }
  .botcard .info {
    flex-grow: 1; }

.button {
  display: inline-block;
  background-color: #666666;
  color: #FFFFFF;
  border: none;
  padding: 0.3em;
  margin-right: 0.3em;
  margin-bottom: 0.3em;
  border-radius: 0.25em;
  text-decoration: none; }
  .button.hover:hover, .button.hover:focus {
    transition: all 0.3s;
    background: rgba(0, 0, 0, 0.4); }

.pill {
  display: inline-block;
  background-color: #AAAAAA;
  color: #FFFFFF;
  border: none;
  padding: 0.3em;
  margin-right: 0.3em;
  margin-bottom: 0.3em;
  border-radius: 0.25em;
  text-decoration: none; }
  .pill.hover:hover, .pill.hover:focus {
    transition: all 0.3s;
    background: rgba(0, 0, 0, 0.4); }

aside {
  z-index: 1;
  height: 100%; }

.navigation {
  background-color: #eeeeee;
  box-shadow: 0.1em 0.2em 0.1em rgba(0, 0, 0, 0.2); }
  .navigation .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2em;
    width: 100%;
    padding: 0.5em; }
  .navigation .icon {
    padding: 0.5em; }
    .navigation .icon i {
      color: #ffffff; }
    .navigation .icon img {
      display: block;
      max-height: 2em; }
  .navigation a {
    text-decoration: none !important;
    color: #000000; }
  .navigation .hover:hover, .navigation .hover:focus {
    transition: all 0.3s;
    background: rgba(0, 0, 0, 0.2); }
  .navigation .enlarge {
    width: 100%;
    transition: width 0.3s, box-shadow 0.3s; }
    .navigation .enlarge:hover, .navigation .enlarge:focus {
      display: absolute;
      width: calc(100% + 2em); }
  @media screen and (max-width: 800px) {
    .navigation {
      min-width: 3em;
      width: 3em;
      overflow-x: hidden; } }

.extra-navigation {
  margin: 0.25em 0 0 0;
  color: #999999;
  padding-left: 0.5em; }
  .extra-navigation p, .extra-navigation h1, .extra-navigation ul {
    margin: 0 0 0.25em 0; }
  .extra-navigation a {
    color: #999999; }
  .extra-navigation h1 {
    color: #666666; }
  .extra-navigation ul {
    list-style: none;
    padding-left: 0; }
    .extra-navigation ul ul {
      padding-left: 0.25em; }
  @media screen and (max-width: 800px) {
    .extra-navigation {
      display: none; } }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0px;
  margin: 0px;
  font-family: Noto Sans, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }

footer {
  text-align: center;
  background-color: #cccccc;
  padding: 3em; }
  footer .right {
    margin-left: auto; }

form {
  max-width: 70vw; }
  form .form-group {
    margin: 0.5em 0;
    display: flex;
    flex-direction: column; }

input, select, button {
  padding: 0.25em;
  font-size: 12pt;
  font-family: Noto Sans, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }

main {
  padding: 3em;
  width: 100%;
  max-width: 100%;
  overflow-x: auto; }
  main h1 {
    text-decoration: underline;
    margin: 0.25em 0; }
  main .right {
    margin-left: auto; }
  @media screen and (max-width: 800px) {
    main {
      padding: 0.5em; } }

.body {
  flex-grow: 1; }

.horizontal {
  display: flex;
  flex-direction: row; }
  .horizontal .wrap {
    flex-wrap: wrap; }

.hide {
  display: none; }

.inline-block {
  display: inline-block; }

.botiframe {
  width: 100%;
  height: 100vh; }

/*# sourceMappingURL=index.css.map */
