header
  display: flex
  align-items: center
  height: 3em
  background-color: #dddddd
  box-shadow: 0.1em 0.2em 0.1em getColour(shadow)
  .item
    *
      display: block
      max-height: 3em
      padding: 0px
      margin: 0px
  .right
    margin-left: auto
    padding-right: 1em
  .pad-left
    padding-left: 1em