.navbar {
  background-color: rgba(45, 45, 45, 0.95) !important;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.mobileNavContent {
  padding-left: 0 !important;
  min-height: 4em;
  height: auto !important;
}

.mobileNavbar {
  display: block;
  min-height: 4em;
  height: auto;
}

.mobileHeading {
  text-align: right;
  display: block;
  width: fit-content;
  margin-left: auto !important;
  padding-left: 62px;
  margin-right: 1em !important;
}

.darken {
  position: absolute;
  background-color: black;
  transition: opacity 0.3s ease-in-out;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  opacity: 0;
  z-index: 99;
}
