.botiframe {
	width: 100%;
	height: 60vh;
	padding-top: 10px;
}

.icon {
	width: 64px;
	height: 64px;
}

iframe {
	border: none;
}

.code {
	font-family: "Roboto Mono", "Ubuntu Mono", "Courier", monospace;
}

.media {
	padding-top: 5px;
	padding-bottom: 5px;
}

.btn {
	margin: 5px 5px 5px 0;
}

.buddon {
	float: left;
}

.langicon {
	float: left;
	height: 2em;
	margin-right: 5px;
}

.hide {
	display: none;
}

.right {
	margin-right: 5px;
}

.left {
	margin-left: 5px;
}

.inline {
	display: inline;
}
