<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/ModestaCSS/css/modesta.min.css" />
    <link rel="stylesheet" href="/ModestaCSS/css/twemoji.min.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <title>Example App</title>
  </head>
  <body class="ls-docs-layout">
    <div class="main-window">
      {{> navigation}}
      <div class="ls-main-content-container container">
        {{{body}}}
      </div>
      {{> footer}}
    </div>
    <script src="/js/navbar.js"></script>
  </body>
</html>
