<!doctype html>
<html>
  <head>
    {{> head avatar=avatar title=title description=description }}
  </head>
  <body class="ls-docs-layout">
    <div class="main-window">
      {{> navigation}}
      <div class="ls-main-content-container container">
        {{{body}}}
      </div>
      {{> footer}}
    </div>
    <script src="/js/navbar.js"></script>
    <script src="/js/modal.js"></script>
  </body>
</html>
