<!doctype html>
<html lang="{{i18n getLocale}}">
  <head>
    {{> head avatar=avatar title=title description=description languages=languages }}
  </head>
  <body class="ls-kiosk-layout">
    {{> navigation}}
    <div class="main-window">
      <div class="ls-container">
        {{{body}}}
      </div>
      <div class="ls-container center">
        <a href="x-ls-terminal-ink://disconnect" class="btn white black-text">Go off-line</a>
      </div>
      {{> footer}}
    </div>
    <script src="/js/navbar.js"></script>
    <script src="/js/modal.js"></script>
  </body>
</html>
