<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/ModestaCSS/css/modesta.min.css" />
    <title>Example App</title>
  </head>
  <body>
    <div class="main-window">
      {{> intro}}
    </div>
    {{{body}}}
  </body>
</html>
