doctype html

if botinfo.type === 'iframe'
	iframe.botiframe(src=`${botinfo.longDesc}`)
else if (botinfo.type === 'markdown' || botinfo.type === 'asciidoc' || botinfo.type === 'html')
	!= render


script(async src="https://www.googletagmanager.com/gtag/js?id=UA-67900801-5")
script.
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-67900801-5');