.description {
  code {
    background: #303030;
    border-radius: 3px;
    padding: .2em .4em;
    color: #d0d0d0;
  }

  pre {
    background: #303030;
    padding: 1em;
    overflow-x: auto;
    code {
      padding: 0;
    }
  }

  .img {
    max-height: 30vh;
    max-width: 100%;
  }
}

.tableContainer {
  overflow-x: auto;
  table {
    margin-bottom: 0.5em;
  }
}

.hidden {
  position: absolute;
  left: -100vw;
  top: -100vh;
}
