.highlight {
  color: #d0d0d0;
  background-color: #151515;

  .w {
    color: #d0d0d0;
    background-color: #151515;
  }
  table td { padding: 5px; }
  table pre { margin: 0; }

  .err {
    color: #151515;
    background-color: #ac4142;
  }
  .c, .cd, .cm, .c1, .cs {
    color: #505050;
  }
  .cp {
    color: #f4bf75;
  }
  .nt {
    color: #f4bf75;
  }
  .o, .ow {
    color: #d0d0d0;
  }
  .p, .pi {
    color: #d0d0d0;
  }
  .gi {
    color: #90a959;
  }
  .gd {
    color: #ac4142;
  }
  .gh {
    color: #6a9fb5;
    background-color: #151515;
    font-weight: bold;
  }
  .k, .kn, .kp, .kr, .kv {
    color: #aa759f;
  }
  .kc {
    color: #d28445;
  }
  .kt {
    color: #d28445;
  }
  .kd {
    color: #d28445;
  }
  .s, .sb, .sc, .sd, .s2, .sh, .sx, .s1 {
    color: #90a959;
  }
  .sr {
    color: #75b5aa;
  }
  .si {
    color: #8f5536;
  }
  .se {
    color: #8f5536;
  }
  .nn {
    color: #f4bf75;
  }
  .nc {
    color: #f4bf75;
  }
  .no {
    color: #f4bf75;
  }
  .na {
    color: #6a9fb5;
  }
  .m, .mf, .mh, .mi, .il, .mo, .mb, .mx {
    color: #90a959;
  }
  .ss {
    color: #90a959;
  }
  .nx {
    color: #8cdcfe;
  }
  .nb {
    color: #4ec9b0;
  }
}
