
<div class="form-container">
  <form>
    <p>By completing this form, you agree that Terminal.ink can hold your data</p>
    <h1>Basic Information</h1>
    <div class="row">
      <div class="one-half column">
        <label for="id">ID</label>
        <div class="ls-flex-row">
          <input name="id" type="text" class="full-width">
          <button type="button" id="id-modal-button" class="ls-button">?</button>
        </div>
      </div>
    </div>
  </form>
</div>
<div id="id-modal" class="modal modal--close">
  <div class="modal-content">
    <span class="close">×</span>
    <h1>Hello world!</h1>
    <p>This is simple just a test modal for my website :3</p>
  </div>
</div>
