<form method="POST" action="/admin/avatars">
  <button class="btn white black-text">Download all avatars</button>
</form>
<form method="POST" action="/admin/tokens">
  <button class="btn white black-text">Reset all tokens</button>
</form>
<a class="btn white black-text" href="/bots/unverified">View Queue</a>
