<div class="ls-main-content main-content-container container box-shadow ls-round">
  <h2>Kromatic's Secret Dungeon</h2>
  <div class="ls-flex-row">
    <form method="POST" action="/admin/avatars">
      <button class="btn white black-text">Download all avatars</button>
    </form>
    <form method="POST" action="/admin/tokens">
      <button class="btn white black-text">Reset all tokens</button>
    </form>
    <a class="btn white black-text" href="/bots/unverified">View Queue</a>
  </div>
  <iframe class="ls-iframe" src="https://www.youtube.com/embed/mAKsZ26SabQ?start=30" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
