<div class="center-text container card-container">
  {{#each list}}
    {{#if (isEqual @index ../limit)}}

    {{else}}
      {{> card __=../__ item=this}}
    {{/if}}
  {{else}}
    {{i18n __ 'pages.list.empty'}}
  {{/each}}
</div>
{{>pagination}}
