<div class="center-text container card-container">
  {{#each list}}
    {{#if (isEqual @index ../limit)}}

    {{else}}
      {{> card __=../__ item=this languagePrefix=../languagePrefix}}
    {{/if}}
  {{else}}
  <div class="ls-main-content container box-shadow ls-round">
    {{i18n __ 'pages.list.empty'}}
  </div>
  {{/each}}
</div>
{{>pagination}}
