.avatar {
  width: 7em;
  height: 7em;
  padding-right: 1em;
}

.prefix {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background-color: #555;
  font-family: 'Courier New', Courier, monospace
}

.links a {
  margin-right: 10px;
}
