.mobile {
  @media (min-width: 651px) {
    display: none !important;
  }
}

.desktop {
  @media (max-width: 650px) {
    display: none !important;
  }
}

.hidden {
  height: 0 !important;
  width: 0 !important;
  font-size: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
  visibility: hidden !important;
}
