.roundedCorners {
  border-radius: 5px;
}

.loading {
  animation: loading 2s infinite ease-in-out;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
