.card {
  padding-top: .5em;
  padding-bottom: .5em;
  display: flex;
  overflow: hidden;
  transition: opacity 0.3s;
  opacity: 1;
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 0;
  }
}

.textContainer {
  flex-grow: 1;
}

.avatar {
  width: 4em;
  height: 4em;
  margin-right: 0.5em;
  border-radius: 10px;
  flex-shrink: 0;
  object-fit: cover;
  background-color: #4a4a4a;
}

.discriminator {
  font-size: 8pt;
  color: #ccc;
}

.description {
  font-size: 10pt;
  color: #ccc;
  padding: 0;
  margin: 0;
}

.stars {
  color: yellow;
}
