body {
	background-color: #000000;
}

h1, h2, h3, h4, h5, h6, p {
	font-family: "Roboto", "Ubuntu", "Arial", sans-serif;
	color: #FFFFFF;
}

pre {
	font-family: "Roboto Mono", "Ubuntu Mono", "Courier", monospace;
	color: #FFFFFF;
}

a:link, a:visited, a:hover, a:active {
	color: #FFFFFF;
}
